* {
    margin: 0;
}

.div-login {
    position: absolute;
    left: 34%;
    right: 34%;
    top: 8.89%;
    bottom: 8.98%;

    justify-content: center;
    flex-direction: row;
    display: flex;

    background: #EBEBEB;
    border-radius: 3px;
}

.text-login {
    position: absolute;
    top: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 127px;
    display: flex;
    align-items: center;
    text-align: center;

    background: linear-gradient(180deg, #BE15AD 20.66%, rgba(174, 16, 188, 0) 67.01%), linear-gradient(180deg, #BE15AD 20.66%, rgba(174, 16, 188, 0) 67.01%), linear-gradient(180deg, #BE15AD 16.49%, rgba(174, 16, 188, 0.82) 31.08%, rgba(65, 28, 125, 0.82) 44.62%, rgba(189, 10, 117, 0.93) 58.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-blend-mode: darken;
}

.input-email {
    position: relative;
    top: 340px;
    left: 90px;

    font-family: inter;
    font-size: 20px;
    cursor: text;
    outline: 0;

    width: 70%;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #EBEBEB;
    padding-left: 15px;
}

.input-senha {
    position: relative;
    top: 390px;
    left: 90px;

    font-family: inter;
    font-size: 20px;
    cursor: text;
    outline: 0;

    width: 70%;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #EBEBEB;
    padding-left: 15px;
}

.button-submit {
    position: absolute;
    left: 23%;
    right: 23%;
    top: 70%;
    bottom: 24.26%;
    border: 0;

    color: white;

    background: #64127A;
    border-radius: 8px;
    cursor: pointer;
}

.button-submit:hover {
    transform: scale(1.03);
}