.container{
 
    width: 100vw;
    height: 100vh;
    display: flex;
}
.Navbar-pefil{
    width:20vw ;
}

.conteudo-perfil{
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-perfil{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    background-color: #D9D9D9;
    margin-top: 3%;
    border-radius: 8px;
}
.img-perfil{
    width: 180px;
    height: 180px;
    background-color: purple;
    border-radius: 50%;
    margin-top: 15vh;
    
}

.nome-perfil{
    position: absolute;
    margin-top: 39vh;
    border-bottom: solid 2px #64127A;

}

.postagens-perfil{
    display: flex;
    flex-wrap: wrap;
    width: 80%;

}

.filtro-perfil{
    width: 15%; 
    text-align: center;
    align-items: center;

}

.filtro-dropdown-perfil{
    width: 10vw;
    height: 3vh;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;;
}

.trabalhos-perfil{
    display: flex;
    width: 85%;
    justify-content: start;
    align-items: flex-start;
  
}