.title-configuracao {
    position: absolute;
    width: 349px;
    height: 65px;
    left: 510px;
    top: 95px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 65px;

    color: #64127A;
}

.usuarioHabilitado {
    position: absolute;
    width: 239px;
    height: 34px;
    left: 514px;
    top: 261px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #000000;
}

.div-switch {
    position: absolute;
    left: 40%;
    right: 56.98%;
    top: 27.6%;
    bottom: 72.69%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #64127A;
}

input:focus+.slider {
    box-shadow: 0 0 1px #64127A;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.editar-usuario {
    position: absolute;
    width: 219px;
    height: 50px;
    left: 514px;
    top: 368px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    color: #000000;
}

.editar-usuario:hover {
    transform: scale(1.05);
}

.logout-button {
    position: absolute;
    width: 111px;
    height: 57px;
    left: 552px;
    top: 830px;

    border: 0;
    cursor: pointer;

    font-size: 20px;
    color: white;

    background: #FF0000;
    border-radius: 25px;
}

.logout-button:hover {
    transform: scale(1.04);
}