.div-feed{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.navbar-feed{
    width: 20vw;
}

.postagem-feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.div-add-postagem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.add-postagem{
    width: 20vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: #3af249;
}

.add-postagem:hover{
    margin-left: 2px;
    margin-bottom: 4px;
}

.div-post-feed{
    display: block;
}

