
* {
    margin: 0;
    padding: 0;
}

.div-navBar {
    position: fixed;
    display: block;
    width: 20vw;
    height: 100%;
    border-right: 2px solid #63127ac4  ;
    border-radius: 5%;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin-top: 20%;
}

.logo-img {
    height: 50%;
    width: 50%;
}

.div-navegacao{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    width: 15vw;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
   
}
.icones-navbar{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 100%; 
    text-decoration: none;
}

.icones-navbar:active{
    color: #64127A;
} 
.icones-navbar:hover{
    border: 2px solid #63127a75;
    border-radius: 20px;
    background-color: #8200d218;
}

