$color1: #d10382;
$color2: #8300d2;
$color3: #ea0056;
$color4: #4d00ef;
$color5: #f80032;

* {
    margin: 0;
    padding: 0;
}

.div-navBar {
    position: fixed;
    flex-wrap: wrap;

    top: 10;
    width: 20vw;
    height: 66%;
}

.div-logo {

    position:static;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 175px;
}

.logo-img {
    height: 90%;
    width: 90%;
}

.div-navegacao{
    display:flex;
    justify-content: end;
    align-items: center;

    width: 17vw;
    height: 100%;
}

.div-navegacao > ul {
    width: 65%;
    bottom: 70px;

    position: relative;
}

.div-navegacao > ul > li {
    display: flex;
    align-items: center;

    font-size: inter;
    font-size: 23px;
}

.div-navegacao > ul > li > a{
    display: flex;
    position: relative;
    width: 100%;

    color: #64127A;

    padding: 10%;
}

.line {
    position: fixed;
    border-radius: 20px;
    height: 100%;
    top: 0;
    left: 22%;

}

.div-icons {
    position: fixed;
    display: flex;
    height: 35px;
    width: 78px;
    flex-direction: row;
    left: 5%;
    bottom: 5%;
    justify-content: space-between;
}


