$color1: #d10382;
$color2: #8300d2;
$color3: #ea0056;
$color4: #4d00ef;
$color5: #f80032;

* {
    margin: 0;
    padding: 0;
}

.navbar-body {
    background-color: $color4;
}

.logo-img {
    position: fixed;
    height: 180px;
    width: 300px;
    top: 50px;
    bottom: 50%;
    left: 2.5%;
}

.home-icon {
    width: 32px;
    height:32px;

    position: fixed;
    left: 6%;
    right: 93.54%;
    top: 31.39%;
    bottom: 65.93%;
}

.feed {
    position: fixed;
    height: 36px;
    left: 8.26%;
    top: 31.33%;
    bottom: 65.93%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 8%;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #64127A;
}

.feed:hover {
    text-decoration: underline;
    cursor: pointer;
}

.user-icon {
    width: 33px;
    height:33px;

    position: fixed;
    left: 6%;
    right: 93.85%;
    top: 41.2%;
    bottom: 55.93%;
}

.user {
    position: fixed;
    height: 36px;
    left: 8.26%;
    top: 41.06%;
    bottom: 56%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 8%;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #64127A;
}

.user:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search-icon {
    width: 30px;
    height:30px;

    position: fixed;
    left: 6.1%;
    right: 93.7%;
    top: 51.75%;
    bottom: 45%;
}

.search {
    position: fixed;
    height: 36px;
    left: 8.26%;
    top: 51.58%;
    bottom: 45%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 8%;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #64127A;
}

.search:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cog-icon {
    width: 30px;
    height:30px;

    position: fixed;
    left: 6%;
    right: 93.85%;
    top: 62.3%;
    bottom: 38.7%;
}

.cog {
    position: fixed;
    height: 36px;
    left: 8.26%;
    top: 62.2%;
    bottom: 38%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 8%;
    font-size: 25px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #64127A;
}

.cog:hover {
    text-decoration: underline;
    cursor: pointer;

}

.facebook-icon {
    position: fixed;
    top: 93%;
    bottom: 10%;
    left: 3.75%;
}

.instagram-icon {
    position: fixed;
    top: 93%;
    bottom: 10%;
    left: 6.4%;
}

.line-vertical {
    position: fixed;
    height: 94%;
    left: 20%;
    top: 3%;
    bottom: 3%;
    border: 1px solid #000000;
    background-color: #000000;
    opacity: 40%;
    border-radius: 20px;
}