$color1: #d10382;
$color2: #8300d2;
$color3: #ea0056;
$color4: #4d00ef;
$color5: #f80032;

* {
    margin: 0;
    padding: 0;
}

.div-postagem-margin {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 75vw;
}

.div-post-body {
    position: relative;

    border-radius: 3px;

    height: 90vh;
    width: 51%;
    background-color: rgba(87, 87, 87, 0.16);
}

.div-imgPerfil-nome {
    position: relative;
    display: flex;

    height: 11vh;
    width: 100%;
}

.div-imgPerfil {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 11vh;
    width: 15%;
}

.imgPerfil {
    position: relative;

    height: 10vh;
    width: 74%;
}

.div-titlePerfil {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content:flex-end;
    align-items:stretch;

    height: 9vh;
    width: 85%;
}

.titlePerfil {
    text-indent: 7px;
    font-size: 1.5vw;
    font-family: 'inter';
}

.div-imgPost {
    position: relative;

    height: 58vh;
    width: 100%;
}

.img-post {
    position: relative;

    height: 100%;
    width: 100%;
}

.div-textPost {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 13vh;
    width: 100%;
}

.div-text { 
    position: relative;

    height: 10vh;
    width: 93%;
}

.text-legend {
    position: relative;
    overflow-wrap: break-word;

    font-size: 1.2vw;
}

.div-likeCommentPost {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.3);

    height: 8vh;
    width: 100%;
}

.div-likeCurtir {
    position: relative;
    display: flex;

    margin-left: 10px;

    height: 6vh;
    width: 33%;
}

.div-iconLike {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6vh;
    width: 28%;
}

.iconLike {
    position: relative;

    height: 30px;
    width: 30px;
}

.divCurtir {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: start;

    height: 6vh;
    width: 72%;
}

.curtir {
    font-size: 1.2vw;
}

.div-commentComentar {
    position: relative;
    display: flex;

    margin-right: 16px;

    height: 6vh;
    width: 20%;
}

.div-iconComment {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6vh;
    width: 35%;
}

.div-comentar {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: end;

    height: 6vh;
    width: 65%;
}

.iconComentar {
    position: relative;
    top: 1px;

    height: 30px;
    width: 30px;
}

.comentar {
    font-size: 1.2vw;
}